

<form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="registration-form">
    <h2 class="form-title">Student Registration Form</h2>
  <div class="form-group">
    <label for="firstName">Name</label>
    <input id="firstName" formControlName="name" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="lastName">Standard</label>
    <input id="lastName" formControlName="standard" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email" class="form-control">
  </div>

  <div class="form-group">
    <label for="dob">Age</label>
    <input id="dob" formControlName="age" type="number" class="form-control">
  </div>


  <button type="submit" [disabled]="!studentForm.valid" class="btn-submit">Register</button>
</form>
